#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlayImg{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0px;
    margin-inline: 10vw;
}
main {
  margin: 20px 0;
}

hr{
  margin-block: 10px;
  height: 1px;
  border-width: 0;
  color:gray;
  background-color:gray
}

.topnav {
  background-color: #683903;
  overflow: hidden;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #04a72d;
    color: black;
  }
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04a72d;
    color: white;
}

.scrollDownButton{
  scroll-behavior: smooth;

}

.content {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
}

.image{
  width: 50vw;
}

.slothHeader{
  width: 100%;
  border-radius: 5px;
}

.textbox {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}

.Systematik{
  display: flex;
  flex-direction: row;
}

.SystematikBox {
  display: block;  
  overflow: auto;
  padding-left: 5px;
  margin-block: 10px;
  border-radius: 5px;
  margin-right: 10px;
  width: 50%; 
}

.SystematikTable{
  padding: 5px;
  width: 100%;
}
.SystematikTbody{
  border-style: solid;
  border-color: white;
}

tr td{
  text-indent: 5px;
}
tr td[scope="row"] {
  font-weight: bold;
}
tr:nth-of-type(odd) td {
  background-color:rgba(255, 255, 255);;
}

.slothEatImg{
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.image-box {
  position: relative;
}

.image-box:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.image-box:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.image-box img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.main-gallery-imageBox{
  width: 50vw;
}

.main-gallery-image{
  width: 100%;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.distribution{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.DistributionTable{
  padding: 5px;
  font-size: 18px;
  width: 30%;
}

.DistributionTableBox{ 
  width: 50%;
}

.DistributionImg{
  width: 100%;
  border-radius: 5px;
}