/* Andra stilar som tidigare */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 0px;
    margin-inline: 10vw;


/* Add a black background color to the top navigation */
main {
  margin: 20px 0;
}

.topnav {
  background-color: #683903;
  overflow: hidden;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #04a72d;
    color: black;
    transform: scale(1.2);
  }
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04a72d;
    color: white;
}

.scrollDownButton{
  scroll-behavior: smooth;

}

.content {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: center;
}

.image{
  background-color: aliceblue;
}

.textbox {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 10px;
}

.Systematik{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SystematikBox {

  display: block;
  overflow: auto;
  width: fit-content;
  padding-left: 5px;
  margin-block: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.SystematikTable{
  padding: 5px;
  width: 100%;
}
.SystematikTbody{
  border-style: solid;
  border-color: white;
}

.slothEat{
  margin-top: 10px;
  width: 40vw;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*Info lista */
dt, dd{
  float: left;
}
dt{
  clear:both;
  font-weight: bold
}

.gallery{
  padding-top: 20px;
}

.image-box {
  position: relative;
}

.image-box:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.image-box:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.image-box img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;

.gallery{
  padding-top: 20px;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.DistributionInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.image-box:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.image-box:hover img {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.image-box img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}